# ==== Clock inputs (CLK) ====
NET "clk" LOC = "P38" | IOSTANDARD = LVCMOS33 ; # GCLK10;
NET "clk" PERIOD = 20 HIGH 50%;
# ==== ON BOARD IO ====
NET "rst" LOC = "P13" | IOSTANDARD = LVTTL;
NET "leds(0)" LOC = "P61" | IOSTANDARD = LVTTL;
NET "leds(1)" LOC = "P62" | IOSTANDARD = LVTTL;
NET "leds(2)" LOC = "P63" | IOSTANDARD = LVTTL;

NET "uart_rx" LOC = "P54" | IOSTANDARD = LVTTL;
NET "uart_tx" LOC = "P69" | IOSTANDARD = LVTTL;


# ==== IO ====
NET "io9" LOC = "P9" | IOSTANDARD = LVTTL;
NET "io5" LOC = "P5" | IOSTANDARD = LVTTL;
NET "io4" LOC = "P4" | IOSTANDARD = LVTTL;
NET "io3" LOC = "P3" | IOSTANDARD = LVTTL;
NET "io2" LOC = "P2" | IOSTANDARD = LVTTL;
NET "io38" LOC = "P98" | IOSTANDARD = LVTTL;
NET "io95" LOC = "P95" | IOSTANDARD = LVTTL;
NET "io94" LOC = "P94" | IOSTANDARD = LVTTL;

# ==== IO ====
NET "io92" LOC = "P92" | IOSTANDARD = LVTTL;
NET "io91" LOC = "P91" | IOSTANDARD = LVTTL;
NET "io90" LOC = "P90" | IOSTANDARD = LVTTL;
NET "i89" LOC = "P89" | IOSTANDARD = LVTTL;
NET "i88" LOC = "P88" | IOSTANDARD = LVTTL;
NET "io86" LOC = "P86" | IOSTANDARD = LVTTL;
NET "io85" LOC = "P85" | IOSTANDARD = LVTTL;
NET "io84" LOC = "P84" | IOSTANDARD = LVTTL;

# ==== IO ====
NET "io83" LOC = "P83" | IOSTANDARD = LVTTL;
NET "io79" LOC = "P79" | IOSTANDARD = LVTTL;
NET "io78" LOC = "P78" | IOSTANDARD = LVTTL;
NET "io71" LOC = "P71" | IOSTANDARD = LVTTL;
NET "io70" LOC = "P70" | IOSTANDARD = LVTTL;
NET "io68" LOC = "P68" | IOSTANDARD = LVTTL;
NET "io67" LOC = "P67" | IOSTANDARD = LVTTL;
NET "io66" LOC = "P66" | IOSTANDARD = LVTTL;

# ==== IO ====
NET "io10" LOC = "P10" | IOSTANDARD = LVTTL;
NET "io11" LOC = "P11" | IOSTANDARD = LVTTL;
NET "io12" LOC = "P12" | IOSTANDARD = LVTTL;
NET "io15" LOC = "P15" | IOSTANDARD = LVTTL;
NET "io16" LOC = "P16" | IOSTANDARD = LVTTL;
NET "io17" LOC = "P17" | IOSTANDARD = LVTTL;
NET "io18" LOC = "P18" | IOSTANDARD = LVTTL;
NET "io22" LOC = "P22" | IOSTANDARD = LVTTL;

# ==== IO ====
NET "io23" LOC = "P23" | IOSTANDARD = LVTTL;
NET "i25" LOC = "P25" | IOSTANDARD = LVTTL;
NET "io26" LOC = "P26" | IOSTANDARD = LVTTL;
NET "i30" LOC = "P30" | IOSTANDARD = LVTTL;
NET "io32" LOC = "P32" | IOSTANDARD = LVTTL;
NET "io33" LOC = "P33" | IOSTANDARD = LVTTL;
NET "io34" LOC = "P34" | IOSTANDARD = LVTTL;
NET "io35" LOC = "P35" | IOSTANDARD = LVTTL;

# ==== IO ====
NET "io36" LOC = "P36" | IOSTANDARD = LVTTL;
NET "io40" LOC = "P40" | IOSTANDARD = LVTTL;
NET "io41" LOC = "P41" | IOSTANDARD = LVTTL;
NET "io44" LOC = "P44" | IOSTANDARD = LVTTL;
NET "io53" LOC = "P53" | IOSTANDARD = LVTTL;
NET "io57" LOC = "P57" | IOSTANDARD = LVTTL;
NET "io58" LOC = "P58" | IOSTANDARD = LVTTL;
NET "io60" LOC = "P60" | IOSTANDARD = LVTTL;

